<a href="https://colab.research.google.com/github/Leeonejae6708/python_itwill/blob/main/Python14_itwill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ex1. Score
* 속성(attributes):
  * 국어, 영어, 수학 점수
  * 국어, 영어, 수학 점수의 기본값은 0


* 기능(functionality):
 * `__str__`: `Score(korean=100, english=100, math=100)` 포맷의 문자열을 리턴
 * `__repr__`: `점수(국어=100, 영어=100, 수학=100)` 포맷의 문자열을 리턴
 * `calculate_sum`: 세 과목의 총점 리턴
 * `calculate_mean`: 세 과목의 평균 리턴

In [63]:
class Score:
  def __init__(self, korean = 0, english = 0, math = 0):
    self.korean = korean
    self.english = english
    self.math = math

  def __str__(self):
    return f'Score(korean={self.korean}, english={self.english}, math={self.math})'

  def __repr__(self):
    return f'점수(국어 = {self.korean}, 영어 = {self.english}, 수학 = {self.math})'

  def calculate_sum(self):
    return self.korean + self.english + self.math

  # def calculate_mean(self):
  #   return (self.korean + self.english + self.math) / 3

  def calculate_mean(self):
    return self.calculate_sum() / 3

In [51]:
score = Score(100, 90, 80)       # 생성자 호출 -> 객체 생성
print(score)
print(repr(score))

score1 = Score()
print(score1)
print(repr(score1))

sumsum = score.calculate_sum()
print(sumsum)

avgavg = score.calculate_mean()
print(avgavg)

Score(korean=100, english=90, math=80)
점수(국어 = 100, 영어 = 90, 수학 = 80)
Score(korean=0, english=0, math=0)
점수(국어 = 0, 영어 = 0, 수학 = 0)
270
90.0

`print(obj)` 호출하면, `object.__str__` 메서드가 리턴하는 문자열을 출력

In [41]:
score1

점수(국어 = 0, 영어 = 0, 수학 = 0)

파이썬 노트북(*.pynb 파일)의 코드 셀은 가장 마지막 라인의 변수 혹은 식(expression)을 자동으로 출력해 주는 기능을 가지고 있음

가장 마지막 라인이 객체인 경우, 그 객체의 `__repr__()` 메서드가 리턴하는 문자열을 출력

## Ex2. Student
* 속성(attributes):
  * 학생 번호, 학생 이름, 점수(Score 객체)

* 기능(functionality):
 * `__str__`: `Student(name: 홍길동, score: Score(korean=100, english=100, math=100))` 포맷의 문자열을 리
 * `__repr__`: `학생(name: 홍길동, score: 점수(국어=100, 영어=100, 수학=100))` 포맷의 문자열을 리턴

* 테스트
 * Student 객체(인스턴스)를 생성.
 * Student 인스턴스를 출력.
 * 생성된 객체에서 총점, 평균을 계산하는 메서드를 호출.

In [55]:
class Student:
  def __init__(self, st_no, name, score):
    self.st_no = st_no
    self.name = name
    # self.korean = other.korean
    # self.english = other.english
    # self.math = other.math
    self.score = score

  def __str__(self):
    # f'(object)' 사용하면, object.__str__ 메서드가 리턴하는 문자열로 만들어짐
    return f'Student(no: {self.st_no}, name: {self.name}, Score: {self.score})'

  def __repr__(self):
   return f'학생(no: {self.st_no}, name: {self.name}, 점수: {self.score.__repr__()})'

In [59]:
st = Student(1001, '오쌤', score)
print(st)
print(repr(st))

ss = score.calculate_sum()
print('총점:', ss)

aa = score.calculate_mean()
print('평균:', aa)

Student(no: 1001, name: 오쌤, Score: Score(korean=100, english=90, math=80))
학생(no: 1001, name: 오쌤, 점수: 점수(국어 = 100, 영어 = 90, 수학 = 80))
총점: 270
평균: 90.0

In [61]:
st2 = Student(1002, '홍길동', score1)
print(st2)
print('총점:', st2.score.calculate_sum())
print('총점:', st2.score.calculate_mean())
st2

Student(no: 1002, name: 홍길동, Score: Score(korean=0, english=0, math=0))
총점: 0
총점: 0.0

학생(no: 1002, name: 홍길동, 점수: 점수(국어 = 0, 영어 = 0, 수학 = 0))

In [67]:
st3 = Student(2001, 'Scott', Score(99, 85, 98))
print(st3)
print('총점:', st3.score.calculate_sum())
print('총점:', st3.score.calculate_mean())
st3

Student(no: 2001, name: Scott, Score: Score(korean=99, english=85, math=98))
총점: 282
총점: 94.0

학생(no: 2001, name: Scott, 점수: 점수(국어 = 99, 영어 = 85, 수학 = 98))