<a href="https://colab.research.google.com/github/Leeonejae6708/python_itwill/blob/main/Python11_itwill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(Function)

* **함수(Function)**: 기능을 수행하는 코드 블록
* **인수(argument)**: 함수가 기능을 수행하기 위해서 값이 필요한 경우, 함수를 호출할 때 함수에게 전달해 주는 값
* **매개변수(parameter)**: 인수를 저장하기 위해서, 함수를 정의할 때 선언하는 변수
* **반환값(return value)**: 함수가 기능을 수행한 후에, 그 결과로 함수를 호출한 곳에 되돌려주는 값
  * 함수에 따라서 반환값이 있는 함수도 있고, 없는 함수도 있음
    * ex) print()함수는 반환값 x

In [ ]:
result = len('안녕하세요.')
print(result)

# 함수 이름: len()
# argument: '안녕하세요.'
# 함수 호출: len('안녕하세요.)  -> 괄호 필수!!
# 반환값: 6

6

## 함수 선언(정의)
```
def 함수이름([매개변수1, 매개변수2, ...]):
  ["""문서화 주석(documentaion comments): 함수에 대한 설명***]
  함수가 수행할 기능을 코드 블록으로 작성
  [return 반환값]
```
 [ ] -> 생략가능

In [ ]:
def subtract(x, y):
  """x - y를 리턴하는 함수"""
  z = x - y
  return z

subtract(1, 0)

1

In [ ]:
# substract() 함수를 호출
result = subtract(1212, 1211)
print(result)

1

In [ ]:
print(subtract(123123, 123))

123000

## 값을 반환하지 않는 함수

In [ ]:
def repeat_message(msg, n):
  """
  msg를 n번 반복해서 출력하는 함수

  @param msg - 출력할 메시지, str타입
  @param n - 출력할 횟수, int타입 (0또는 양의 정수)
  @return None
  """
  for _ in range(n):
    print(msg)

  #return None  # <- 이건 생략 가능

In [ ]:
repeat_message('안니용', 753)

안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용
안니용

In [ ]:
repeat_message('hello', 11)

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

## 2개 이상의 값을 반환하는 함수 선언

In [ ]:
def plus_and_minus(x, y):
  """
  두 숫자들의 덧셈과 뺄셈 결과를 반환하는 함수

  @param x - 숫자 타입(int or float)
  @param y - 숫자 타입(int or float)
  @return x + y, x - y
  """
  return x + y, x - y

In [ ]:
a, b = plus_and_minus(3, 1)
print(a, b)

4 2

In [ ]:
result = plus_and_minus(3, 1)
print(result)                  # -> tuple형식으로 저장
print(type(result))
print(result + result)

(4, 2)
<class 'tuple'>
(4, 2, 4, 2)

## 연습문제1. make_list
 * 기능: [start, end) 범위의 정수 난수 n개를 갖는 리스트를 리턴
 * 파라미터: start(정수), end(정수), n(0 또는 양의 정수)

In [ ]:
## 문제 1.

import random

def make_list(start, end, n):
  """
  [start, end) 범위의 정수 난수 n개를 갖는 리스트를 리턴

  @ param start - 정수, 난수의 시작 범위
  @ param end - 정수, 난수의 끝 범위
  @ param n - 0 or 양의 정수, 반복할 횟수
  @ return - [start, end) 범위의 정수 난수 n개를 갖는 리스트
  """
  return [random.randrange(start, end) for _ in range(n)]

aaa = make_list(1, 123, 5)
print(aaa)

[13, 67, 36, 109, 103]

In [ ]:
## 문제 1. (다른 방식)

import random

def make_list(start, end, n):
  """
  [start, end) 범위의 정수 난수 n개를 갖는 리스트를 리턴

  @ param start - 정수, 난수의 시작 범위
  @ param end - 정수, 난수의 끝 범위
  @ param n - 0 or 양의 정수, 반복할 횟수
  @ return - [start, end) 범위의 정수 난수 n개를 갖는 리스트
  """
  array = []
  for _ in range(n):
    array.append(random.randrange(start, end))

  return array

aaa = make_list(1, 123, 5)
print(aaa)

[48, 85, 2, 31, 57]

## 연습문제2. calculate_sum
* 기능: 숫자(정수, 실수)들을 원소로 갖는 리스트를 전달받아서, 그 리스트의 모든 원소들의 합계를 리턴
* 파라미터: array(리스트)

In [ ]:
## 문제 2.

def calculate_sum(array):
  """
  숫자(정수, 실수)들을 원소로 갖는 리스트를 전달받아서, 그 리스트의 모든 원소들의 합계를 리턴

  :arg array: 숫자들을 원소로 갖는 리스트
  :return: 리스트의 모든 원소들의 합계
  """

  return(sum(array))

result = [1, 2, 4, 5, 6, 7, 312]
print(result)
summm = calculate_sum(result)
print(summm)

[1, 2, 4, 5, 6, 7, 312]
337

In [ ]:
## 문제 2. (다른 방식)

def calculate_sum(array):
  """
  숫자(정수, 실수)들을 원소로 갖는 리스트를 전달받아서, 그 리스트의 모든 원소들의 합계를 리턴

  @ param array - 리스트
  @ return - 리스트의 모든 원소들의 합계
  """

  i = 0
  for x in array:
    i+=x
  return i

result = [1, 2, 4, 5, 6, 7, 312]
print(result)
summm = calculate_sum(result)
print(summm)

[1, 2, 4, 5, 6, 7, 312]
337

## 연습문제3. calculate_mean
* 기능: 숫자(정수, 실수)들을 원소로 갖는 리스트를 전달받아서, 그 리스트의 모든 원소들의 평균을 리턴
* 파라미터: array(리스트)

In [ ]:
## 문제 3.

def calculate_mean(array):
  """
  숫자(정수, 실수)들을 원소로 갖는 리스트를 전달받아서, 그 리스트의 모든 원소들의 평균을 리턴

  @ param array - 리스트
  @ return - 리스트의 모든 원소들의 평균
  """
  return(sum(array) / len(array))

result = [1, 2, 4, 5, 6, 7, 312]
print(result)
mean = calculate_mean(result)
print(mean)

[1, 2, 4, 5, 6, 7, 312]
48.142857142857146

In [ ]:
## 문제 3. (다른 방식)

def calculate_mean(array):
  """
  숫자(정수, 실수)들을 원소로 갖는 리스트를 전달받아서, 그 리스트의 모든 원소들의 평균을 리턴

  :param array: 리스트
  :return: 리스트의 모든 원소들의 평균
  """

  i = 0
  for x in array:
    i+=x
  i /= len(array)
  return i

result = [1, 2, 4, 5, 6, 7, 312]
print(result)
mean = calculate_mean(result)
print(mean)

[1, 2, 4, 5, 6, 7, 312]
48.142857142857146

In [ ]:
my_list = make_list(1, 100, 10)
print(my_list)

[27, 54, 97, 94, 43, 99, 80, 85, 50, 37]

연습문제 4. find_min_and_max
* 기능: 숫자들을 원소로 갖는 리스트를 argument로 전달받아, 리스트 원소들의 최솟값과 최댓값을 리턴

In [ ]:
## 문제 4.

def  find_min_and_max(list):
  """
  숫자들을 원소로 갖는 리스트를 argument로 전달받아, 리스트 원소들의 최솟값과 최댓값을 리턴
  """

  x = min(list)
  y = max(list)
  return (f'최솟값은: {x} , 최댓값은: {y}')

find_min_and_max(my_list)

'최솟값은: 27 , 최댓값은: 99'

In [ ]:
## 문제 4. (다른 방식)

def  find_min_and_max(list):
  """
  숫자들을 원소로 갖는 리스트를 argument로 전달받아, 리스트 원소들의 최솟값과 최댓값을 리턴
  """

  min_array = list[0]                                          # 리스트의 첫 번째 원소를 최솟값이라고 가정
  max_array = list[0]                                          # 리스트의 첫 번째 원소를 최댓값이라고 가정
  for x in list:                                               # 리스트의 모든 원소들을 순서대로 반복하면서
    if x < min_array:                                          # 리스트에서 찾은 값이 최솟값보다 작다면
      min_array = x                                            # 최솟값을 리스트에서 찾은 값으로 변경
    if x > max_array:                                          # 리스트에서 찾은 값이 최솟값보다 크다면
      max_array = x                                            # 최댓값을 리스트에서 찾은 값으로 변경
  return (f'최솟값은: {min_array} , 최댓값은: {max_array}')    # 최솟값, 최댓값 출력

myy_list = make_list(-100, 101, 10)
print(myy_list)
find_min_and_max(myy_list)

[26, 18, 58, 98, -54, -82, 12, 89, -90, -62]

'최솟값은: -90 , 최댓값은: 98'

In [ ]:
# sorted(list): list의 원소들을 오름차순으로 정렬해주는 함수
# sorted(list, reverse=False): 오름차순
# sorted(list, reverse=True): 오름차순

p = sorted(myy_list)
pp = sorted(myy_list, reverse=True)
print(p)
print(pp)

[-90, -82, -62, -54, 12, 18, 26, 58, 89, 98]
[98, 89, 58, 26, 18, 12, -54, -62, -82, -90]

In [ ]:
def find_min_and_max2(array):
  sorted_array = sorted(array)
  return sorted_array[0], sorted_array[-1]

print(myy_list)
find_min_and_max(myy_list)

[26, 18, 58, 98, -54, -82, 12, 89, -90, -62]

'최솟값은: -90 , 최댓값은: 98'

# Default Argument(기본 인수)

Default Argument(기본 인수):
* 함수를 선언할 때 파라미터에 설정하는 기본값
 * Default parameter: 기본값이 설정된 파라미터(매개변수)
* 함수를 호출할 때 Default parameter에 값을 전달하지 않으면 Default Argument가 기본값으로 사용됨
* 함수를 호출할 때 Default parameter에 값을 전달하면, 기본값은 무시되고 전달한 Argument가 사용됨

In [ ]:
def repeat_message2(msg, n=1):
  for _ in range(n):
    print(msg)

In [ ]:
# Default parameter에 값을 전달하지 않는 경우:
repeat_message2('hello')   ## -> # Default argument가 1이기 때문에 한 번 반복하여 출력

hello

In [ ]:
# Default parameter에 값을 전달하는 경우:
repeat_message2('hello', 10) ## > 인수를 전달하였기 때문에 기본값은 무시하고 전달한 인수(10)만큼 반복하여 출력

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

**(주의)**
Default parameter들은 반드시 기본값을 갖지 않는 파라미터들 뒤에 선언해야함

기본값을 갖는 파라미터가 기본값을 갖지 않는 파라미터보다 먼저 선언되면 문법 오류가 발생!

In [ ]:
def test(x, y=9):
  pass

In [ ]:
def test_error(x=8, y):   # error발생 -> SyntaxError: non-default argument follows default argument
  pass

SyntaxError: non-default argument follows default argument (<ipython-input-32-71b136b6236a>, line 1)

In [ ]:
def test2(x=8, y=1):

  prnt(f'x={x}, y={y}')

argument 전달 방법:
함수를 호출할 때 argument(들)을넘겨주는 방법
* **positional argument**: 선언된 파라미터 순서대로 argument들을 전달
* **keyword argument**:  param_name = value형식으로 argument를 전달하는 방식
 * keyword argument 방식을 사용할 때는 파라미터 순서를 지키지 않아도 됨
* **(주의)**: 함수를 호출할 때 위의 두 방식을 혼용하는 경우에는, 반드시 positional argument를 먼저 전달하고 keyword argument들은 positional argument방식이 모두 끝난 후에 사용해야 함

In [ ]:
# 파라미터는 기본적으로 순서대로 값이 전달

test2(123)  ## -> positional argument

In [ ]:
# 하지만 앞의 파라미터는 기본값을 사용하고 뒤의 파라미터에만 값을 전달하고 싶을 땐
## (파라미터명 = 전달한 인자) 꼴로 전달

test2(y=123)   ### -> keyword argument

In [ ]:
test2(y=123, x=124142)   ### -> keyword argument는 순서를 지키지 않아도 된다. 단, param_name은 정확해야 한다.

In [ ]:
test2(1, y = 123)   # x=1, y=123  출력
test2(x=1, 123)     # SyntaxError: positional argument follows keyword argument

# Variable-Length Algument(가변길이 인수)

* 함수의 argument개수가 임의로 변할 수 있는 것 -> 함수를 호출할 때 argument를 몇 개를 전달해도 상관x
  * argumrnt를 한 개도 전달하지 않아도 됨
* 함수를 선언할 때 파라미터 이름 앞에 `*`를 사용하면 가변길이 인수를 의미
* 함수 내부에서 가변길이 인수는 튜플(tuple)로 취급
  * 가변길이 인수는 인덱스를 가짐
  * 가변길이 인수는 for-in 구문에서 사용할 수 있음
* 가변길이 인수는 keyword argumrnt방식으로 값을 전달할 수 없음
* 함수를 선언할 때 가변길이 인수를 저장하는 파라미터는 오직 1개만 선언할 수 있음
* 가변길이 인수를 갖는 파라미터 뒤에 선언된 다른 파라미터들은 오직 keyword argument방식으로만 값을 전달할 수 있음

In [ ]:
print('안녕')   # argumrnt 1개를 전달.
print('안녕', 'hello', 'python') # argumrnt 3개를 전달

In [ ]:
def add_all(*args):
  """argument로 전달된 모든 숫자들의 함계를 리턴. argument가 없는 경우에는 0을 리턴"""
  result = 0
  for x in args:
    result+=x

  return result

In [ ]:
add_all()

In [ ]:
add_all(123, 123, 123, 123)

In [ ]:
def fn_test(x, *y):
  print('x = ', x)
  print('y = ', y)

In [ ]:
# fn_test() >> TypeError 발생 - 파라미터 x에는 반드시 값을 전달해야 하기 때문
fn_test(1) # > 가변길이 인수 y에는 값을 전달하지 않아도 됨
fn_test(x=100)
# fn_test(x=9, 2) >> SyntaxError(문법 오류) 발생 - keyword argument는 positional argument보다 먼저 사용될 수 없음
# fn_test(x=1, y=(1, 2, 3, 4, 5, 6)) >> 가변길이 인수는  keyword방식으로 전달할 수 없음
fn_test(1, 1, 2, 3, 4, 5, 6)

In [ ]:
# def fn_error(*x, *y):    ## >> SyntaxError: * argument may appear only once
#   pass

In [ ]:
def fn_test2(*args, x):
  print('args = ', args)
  print('x = ', x)

In [ ]:
# fn_test2(1, 2, 3, 4, 5, 2)  >> TypeError: fn_test2() missing 1 required keyword-only argument: 'x'
fn_test2(1, 2, 3, 4, 5, 2, x = 1)

In [ ]:
print('a', 'b', 'c', sep=' : ')

## 연습문제:

In [ ]:
def calculate(*values, op):
  """
  op가 '+'인 경우, values에 전달된 모든 숫자들의 합을 리턴
  ex) calculate(1, 2, 3, op='+') -> 6
  op가 '*'인 경우, values에 전달된 모든 숫자들의 곱을 리턴
  ex) calculate(1, 2, 3, 4, op='*') -> 24
  op가 '+'이거나 '*'가 아닌 경우에는 ValueError를 발생(raise TypeError())
  values가 없으면 0을 리턴

  """
  x = 0
  y = 1
  if op == '+':
    for i in values:
      x+=i
    return x
  elif op == '*':
    for j in values:
      y*=j
    return y
  else:
    raise ValueError("op must be '+' or '*'")

In [ ]:
calculate(1, 3, 4, 6, 7, 8, op='+')

In [ ]:
calculate(1, 3, 4, 6, 7, 8, op='*')

In [ ]:
calculate(1, 3, 4, 6, 7, 4, op='#')

In [ ]:
calculate(op='+')

In [ ]:
calculate(op='*')

# Variable-Length keyword Arguments(가변길이 키워드 인수)

* 함수를 선언할 때 파라미터 이름 앞에 `**`를 사용

* 함수를 호출할 때는 `param1 = value1, param2 = value, ...`와 같은 형식으로 argument들을 전달함
  * 가변길이 인수이기 때문에 전달하는 argument 개수에 제한x
  * 키워드 인수이기 때문에 키워드(파라미터 이름)과 함께 아규먼트를 전달해야 함
    * 키워드 이름은 자유롭게 만들 수 있음

* 함수 내부에서 가변길이 키워드 인수는 dict타입 객체로 취급
  * 파라미터 이름이 dict의 키가 되고, argument가 dict의 값이 됨

* 가변길이 키워드 인수는 함수에서 오직 한 개만 선언 가능

In [ ]:
def fn_test3(*args, **kwargs):
  print('args = ', args)             # 가변길이 인수 -> tuple
  print('keyword args = ', kwargs)   # 가변길이 키워드 인수 -> dict

In [ ]:
fn_test3(1, 2, 'a', 'sdfsadf', 123, 4, x=1, y = 2, z = 'aaa')

In [ ]:
def make_student_info(stu_no, stu_name, **kwargs):
  student = {'no': stu_no, 'name': stu_name}
  for k, v in kwargs.items():
    # 가변길이 키워드 argument 중에서 key가 email이거나 phone인 경우에만 dict에 추가
    if (k == 'email') or (k == 'phone'):
      student[k] = v
  return student

In [ ]:
make_student_info(1234, '홍길동')

In [ ]:
make_student_info(2233, 'oh T', phone = '010-1234-1243', email = 'jakeoh@itwillcom', age = 16, gender = 'male')