<a href="https://colab.research.google.com/github/Leeonejae6708/python_itwill/blob/main/Python05_itwill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for 반복문

## 문법
```
for 변수 in Iterable-type:
  반복하여 실행 할 코드 블록
```

* Iterable-type: 반복(iteration)이 가능한 데이터 타입.
  * str(문자열), range, list, tuple, dict 등등..

* for 반복문은  iterable-type이 객체에서 원소들을 하나씩 순서대로 꺼내서 변수에 저장하고, 코드 블록을 수핻.

* for 반복문은 iterable-type이 객체에서 더 이상 꺼낼 원소가 없을 때 반복을 종료.

In [ ]:
for i in '안녕하세요.':
  print(i)

안
녕
하
세
요
.

## `range()`함수와 for 반복문

In [ ]:
# range(start, stop): Iteration을 할 때마다 start <= x < stop 범위의 1씩 증가하는 정수를 생성.
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
# range(stop): iteration할 때 마다 0 <= x <stop 범위의 1씩 증가하는 정수를 생성함.
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# range(start, stop, step): 1) step이 양수인 경우 - iteration할 때 마다 start <= x <stop 범위의 step만큼씩 증가하는 정수를 생성함.

for i in range(0, 10, 2):
  print(i)

0
2
4
6
8
---------------
15
13
11
9
7
5
3

In [ ]:
# range(start, stop, step): 2) step이 음수인 경우 - iteration할 때 마다 start >= x stop 범위의 step만큼씩 감소하는 정수를 생성함

for i in range(10, 0, -2):
  print(i)

10
8
6
4
2

연습문제:
1 이상 10 미만의 홀수들을 내림차순으로 출력

In [ ]:
for i in range(9, 0, -2):
  print(i)

9
7
5
3
1

연습문제:
```
*
**
***
****
*****
```

In [ ]:
for i in range(1,6):
  print('*' * i)

*
**
***
****
*****

In [ ]:
# 반대로!
for i in range(5, 0, -1):
  print('*' * i)

*****
****
***
**
*

## 중첩 for문

In [ ]:
for i in range(1, 10):
  print(f'----{i}단----')
  for j in range(1, 10):
    print(f'{i} X {j} = {i*j}')

----1단----
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
----2단----
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
----3단----
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
----4단----
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
----5단----
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
----6단----
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
----7단----
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
----8단----
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
----9단----
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

## break, continue
* `break`: 만나는 즉시 반복 종료
* `continue`: 만나는 즉시 현재 작업을 멈추고 다음 반복을 수행

In [ ]:
for i in range(1, 6):
  if i == 3:
    break
  print(i)

1
2

In [ ]:
for i in range(1, 6):
  if i == 3:
    continue
  print(i)

1
2
4
5

구구단을 출력할 때 1단은 1X1까지 / 2단은 2X2까지 ... 9단은 9X9까지 출력
* break문장을 사용하는 방법
* break문장을 사용하는지 않는 방법

In [ ]:
# 방법 1
for i in range(1, 10):
  print(f'----{i}단----')
  for j in range(1, 10):
    if j > i:
      break
    print(f'{i} X {j} = {i*j}')

----1단----
1 X 1 = 1
----2단----
2 X 1 = 2
2 X 2 = 4
----3단----
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
----4단----
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
----5단----
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
----6단----
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
----7단----
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
----8단----
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
----9단----
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
# 방법 2
for i in range(1, 10):
  print(f'----{i}단----')
  for j in range(1, i+1):
    print(f'{i} X {j} = {i*j}')

----1단----
1 X 1 = 1
----2단----
2 X 1 = 2
2 X 2 = 4
----3단----
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
----4단----
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
----5단----
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
----6단----
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
----7단----
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
----8단----
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
----9단----
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

연습문제:
1부터 10까지 정수들을 한 줄로 출력

In [ ]:
for i in range(1, 11):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
## 문제 1
i = 1
while i <= 10:
  if i % 3 == 0:
    print(f'{i} little indian')
  elif i == 10:
    print(f'{i} little indian boys !')
  else:
    print(f'{i} little', end = ' ')
  i+=1

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys !

In [ ]:
## 문제 1 (다른방식)
for i in range(1, 11):
  if i % 3 == 0:
    print(f'{i} little indian')
  elif i == 10:
    print(f'{i} little indian boys !')
  else:
    print(f'{i} little', end = ' ')
  i+=1

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys !

In [ ]:
## 문제 2
for i in range(1, 101):
  if 0 < i < 10:
    if i % 3 ==0:
      print('*', end = ' ')
    else:
      print(i, end = '  ')
  elif 20 < i < 30 or 50 < i < 60 or 80 < i <90:
      if i % 3 == 2:
        print('*', end = ' ')
      else:
        print(i, end = ' ')
  elif 30 <= i < 40 or 60 <= i < 70 or 90 <= i < 100:
    if i % 10 == 0:
      print('*')
    else:
      print('*', end = '  ')
  elif i % 10 == 0:
    print(i)
  else:                                                   #개행...
    if i % 3 == 1:
      print('*', end = " ")
    else:
      print(i, end = " ")

1  2  * 4  5  * 7  8  * 10
11 12 * 14 15 * 17 18 * 20
21 22 * 24 25 * 27 28 * *
*  *  *  *  *  *  *  *  *  40
41 42 * 44 45 * 47 48 * 50
51 52 * 54 55 * 57 58 * *
*  *  *  *  *  *  *  *  *  70
71 72 * 74 75 * 77 78 * 80
81 82 * 84 85 * 87 88 * *
*  *  *  *  *  *  *  *  *  100

In [ ]:
## 문제 2 (다른 방식)
for i in range(1, 101):
  if i % 10 == 3 or i % 10 ==6 or i % 10 ==9:
    print('*', end = "\t")
  elif 30 <= i < 40 or 90 <= i < 70 or 90 <= i < 100:
    print('*', end = "\t")
  else:
    print(i, end = '\t')
  if i % 10 == 0:
    print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	60
61	62	*	64	65	*	67	68	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

In [ ]:
## 문제 2 (다른 방식)
for i in range(1, 101):
  i_1 = i % 10                                                                      # i_1에 i를 10으로 나눈 나머지를 저장 -> 일의 자릿수
  i_10 = i // 10                                                                    # i_1에 i를 10으로 나눈 몫 -> 십의 자릿수
  if i_1 == 3 or i_1 == 6 or i_1 == 9 or i_10 == 3 or i_10 == 6 or i_10 ==9:        # 일의 자릿수 또는 십의 자릿수가 3 또는 6 또는 9일때
    print('*', end = "\t")                                                          # '*' 출력
  else:
    print(i, end = '\t')
  if i % 10 == 0:
    print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

In [ ]:
## 문제 2 (다른 방식)
for i in range(1, 101):
  i_1 = i % 10                                                                          # i_1에 i를 10으로 나눈 나머지를 저장 -> 일의 자릿수
  i_10 = i // 10                                                                        # i_1에 i를 10으로 나눈 몫 -> 십의 자릿수
  condition1 = i_1 == 3 or i_1 == 6 or i_1 == 9                                         # 일의 자릿수가 3 또는 6 또는 9인 경우
  condition2 = i_10 == 3 or i_10 == 6 or i_10 ==9                                       # 십의 자릿수가 3 또는 6 또는 9인 경우
  if condition1 or condition2:
    print('*', end = "\t")                                                              # '*' 출력
  else:
    print(i, end = '\t')
  if i % 10 == 0:
    print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

In [ ]:
## 문제 2 (다른방식)
for i in range(1, 101):
  i_1 = i % 10
  i_10 = i // 10
  if i_1 !=0 and i_1 % 3 ==0 or i_10 != 0 and i_10 % 3 ==0:
    print('*', end = "\t")
  else:
    print(i, end = '\t')
  if i % 10 ==0:
    print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

`in` 연산자: 배열과 유사한 객체에 원소로 포함되는지 여부(True/False)를 알려주는 연산자

In [ ]:
5 in range(1, 11)

True

In [ ]:
11 in range(1,11)

False

In [ ]:
'h' in 'hello'

True

In [ ]:
3 in (3, 6, 9) # tuple

True

In [ ]:
8 in [3, 6, 9] # list

False

In [ ]:
for n in range(1, 101):
  n_1 = n % 10
  n_10 = n //10
  if n_1 in (3, 6, 9) or n_10 in (3, 6, 9):
    print('*', end = '\t')
  else:
    print(n, end = '\t')
  if n_1 == 0:
    print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

In [ ]:
for n in range(1, 101):
  n_str = str(n)
  if '3' in n_str or '6' in n_str or '9' in n_str:
    print('*', end = '\t')
  else:
    print(n, end = '\t')
  if n % 10 == 0:
    print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100