<a href="https://colab.research.google.com/github/Leeonejae6708/python_itwill/blob/main/Python09_itwill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict

* 사전(dictionary) 형식의 데이터 타입
* 키(key)를 기반으로 값(value)을 저장하는 데이터 타입 -> (키-값 )쌍
 * list, tuple: 인덱스를 기반으로 값(value)를 저장하는 데이터 타입
 * dict 타입에서 키(key)의 역할은 list나 tuple에서 인덱스와 비슷하게, dict의 저장된 값 1개를 참조하기 위한 용도
 * 키(key)는 중복된 값을 허용X

In [ ]:
students = {100: '홍길동', 101: '오쌤', 200: 'scott'}
print(type(students))
print(students)

<class 'dict'>
{100: '홍길동', 101: '오쌤', 200: 'scott'}

In [ ]:
# dict에서 값을 참조: dict명[key] -> key에 해당하는 값을 참조
print(students[100])
print(students[101])
print(students[200])

홍길동
오쌤
scott

'scott'

## dict 함수(메서드)

In [ ]:
students.keys()  # dict명.key(): dict객체가 가지고 있는 key들의 리스트를 반환

dict_items([(100, '홍길동'), (101, '오쌤'), (200, 'scott')])

In [ ]:
students.values()  # dict명.values(): dict객체의 값(values)들의 리스트를 반환

dict_values(['홍길동', '오쌤', 'scott'])

In [ ]:
students.items()  # dict명.items(): (key, value) tuple을 원소로 갖는list형태로 반환

dict_items([(100, '홍길동'), (101, '오쌤'), (200, 'scott')])

In [ ]:
students.get(100)  # dict명.get(key): 해당 key의 value를 반환 (= dict명[key])

'홍길동'

`dict명[key] = value`
* key가 dict에 없을 때: key-value 아이템을 dict에 추가
* key가 dict에 있을 때: key에 해당하는 값을 새로운 값 value로 바꿈

In [ ]:
students[300] = '홍길동'  # 새로운 key-value 쌍 추가
print(students)

{100: '홍길동', 101: '오쌤', 200: 'scott', 300: '홍길동'}

In [ ]:
students[300] = '김길동'  # 해당 key의 값만 바꿈
print(students)

{100: '홍길동', 101: '오쌤', 200: 'scott', 300: '김길동'}

# dict와 for 반복문

In [ ]:
# for 반복문에서 dict객체를 사용하면 key들을 iteration함.

for i in students:
  print(i)             # key값이 출력

100
101
200
300

In [ ]:
for k in students:
  print(k, ':', students.get(k))

for kk in students:
  print(kk, ':', students[kk])

# 둘이 같은 방식

100 : 홍길동
101 : 오쌤
200 : scott
300 : 김길동
100 : 홍길동
101 : 오쌤
200 : scott
300 : 김길동

In [ ]:
for k, v in students.items():
  print(k, '-', v)

100 - 홍길동
101 - 오쌤
200 - scott
300 - 김길동

In [ ]:
book = {'title': '파이썬 200제', 'author': '장삼용', 'publisher': '정보문화사'}
print(book)

{'title': '파이썬 200제', 'author': '장삼용', 'publisher': '정보문화사'}

In [ ]:
for k, v in book.items():
  print(k, ':', v, end='\t')

title : 파이썬 200제	author : 장삼용	publisher : 정보문화사

# 다양한 자료를 저장하는 dict

In [ ]:
contact = {'name':'홍길동',
           'mobile': ['010-1234-6548', '02-1231-1241'],
           'e-mail': {'personal': 'hong@gmail.com', 'company': 'hong_itwill@itwilil.com'},
           'no': 1
           }
for k, v in contact.items():
  print(k,'-', v)

name - 홍길동
mobile - ['010-1234-6548', '02-1231-1241']
e-mail - {'personal': 'hong@gmail.com', 'company': 'hong_itwill@itwilil.com'}
no - 1

In [ ]:
# contact.get('mobile')
contact['mobile']

['010-1234-6548', '02-1231-1241']

In [ ]:
contact['mobile'][0]   # 리스트형식의 값 중 첫번째 요소만 반환

'010-1234-6548'

In [ ]:
contact['e-mail']['company']

'hong_itwill@itwilil.com'

# dict comprehension

In [ ]:
emp_no = [1001, 1002, 1003, 1004]
emp_name = ['scott', 'allen', 'king', 'oh쌤']
emp = {}

for i, j in zip(emp_no, emp_name):
  emp[i] = j
print(emp)

{1001: 'scott', 1002: 'allen', 1003: 'king', 1004: 'oh쌤'}

In [ ]:
# dict comprehension

emp2 = {k: v for k, v in zip(emp_no, emp_name)}
emp2

{1001: 'scott', 1002: 'allen', 1003: 'king', 1004: 'oh쌤'}

연습문제: 리스트 fruits에 있는 과일 이름을 key로 하고, 그 문자열의 길이를 value로 하는 dict를 만들고 출력

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'pineapple', 'watermellon', '딸기']
lenlen = [len(x) for x in fruits]

fruit_len  = {k: v for k, v in zip(fruits, lenlen)}
print(fruit_len)

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermellon': 11, '딸기': 2}

In [ ]:
fruit_len2  = {k: len(k) for k in fruits}
print(fruit_len2)

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermellon': 11, '딸기': 2}