<a href="https://colab.research.google.com/github/Leeonejae6708/python_itwill/blob/main/Python13_itwill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체지향 프로그래밍 배경

In [ ]:
students = [
    {'name': '홍길동', 'korean': 90, 'english': 80, 'math': 70},
    {'name': '오썜', 'korean': 77, 'english': 66, 'math': 80},
    {'name': 'scott', 'korean': 50, 'english': 100, 'math': 95}
]

In [ ]:
for x in students:
  print("이름: ", x['name'])

for i in students:
  hap = 0
  hap += i['korean']
  hap += i['english']
  hap += i['math']
  print('총점: ', hap)

for i in students:
  hap = 0
  avg = 0
  hap += i['korean']
  hap += i['english']
  hap += i['math']
  avg = hap / 3
  print('평균: ', avg)

print('=======================================')

for s in students:
  total = s['korean'] + s['english'] + s['math']
  avg = total / 3
  print(f'이름: {s["name"]}, 총점: {total}, 평균{avg} ')

이름:  홍길동
이름:  오썜
이름:  scott
총점:  240
총점:  223
총점:  245
평균:  80.0
평균:  74.33333333333333
평균:  81.66666666666667
=======================================
이름: 홍길동, 총점: 240, 평균80.0
이름: 오썜, 총점: 223, 평균74.33333333333333
이름: scott, 총점: 245, 평균81.66666666666667

위의 프로그래밍 방식의 문제점은 dict의 키는 중복되지만 않게 만들면 되기 때문에 반복문에서 총점과 평균을 계산하는 기능이 동작하지 않을 수도 있다.

## 함수형 프로그래밍(functional programming)

In [ ]:
def create_student(name, korean, english, math):
  student = {'name': name,
             'korean': korean,
             'english': english,
             'math': math}

  return student

In [ ]:
students = [
    create_student('홍길동', 90, 100, 80),
    create_student('오쌤', 50, 55, 65),
    create_student('scott', 70, 100, 90)
]
print(students)

[{'name': '홍길동', 'korean': 90, 'english': 100, 'math': 80}, {'name': '오쌤', 'korean': 50, 'english': 55, 'math': 65}, {'name': 'scott', 'korean': 70, 'english': 100, 'math': 90}]

In [ ]:
def get_total(student):
  return student['korean'] + student['english'] + student['math']

In [ ]:
def get_mean(student):
  return get_total(student) / 3

In [ ]:
for s in students:
  hap = get_total(s)
  mean = get_mean(s)
  print(f"이름 : {s['name']}, 총전: {total}, 평균: {mean}")

이름 : 홍길동, 총전: 245, 평균: 90.0
이름 : 오쌤, 총전: 245, 평균: 56.666666666666664
이름 : scott, 총전: 245, 평균: 86.66666666666667

총점을 계산하는 함수 get_total()과 평균을 계산하는 함수 get_mean()은 학생 dict와 매우 밀접한 관계를 가지고 있음

데이터(국어, 영어, 수학)와 기능(총점, 평균 계산)이 밀접한 관계를 가지고 있음

데이터와 기능을 하나로 묶을 수 있을까? 라는 의문을 가짐

-> 객체 지향 프로그래밍이라는 소프르웨어 만들어짐

## 객체 지향 프로그래밍(Object-Oriented Programming)

* 객체(object): 프로그램에서 구현할 대상, 자료 구조
* 클래스(class): 객체를 만들기 위한 설계도(코드)
  * 속성(attribute, properity): 객체가 가져야 할 데이터
  * 메서드(method): 객체가 가져야 할 기능 -> 클래스 내부에서 선언하는 함수
* 인스턴스(instance): 메모리에 생성된 객체 -> 클래스 타입으로 생성된 객체
* 생성자(constructor): 클래스 이름과 동일한 함수 -> 객체를 생성해 주는 함수
  * 생성자를 호출하면 클래스에서 선언된 `__init__()` 메서드가 호출됨

In [ ]:
# 클래스 선언
class Student:
  # __init__() 메서드: 생성자를 호출했을 때 실행할 코드, 객체가 가져야 하는 속성의 값들을 초기화
  def __init__(self, name, korean, english, math):
    self.name = name
    self.korean = korean
    self.english = english
    self.math = math

  # 메서드: 클래스에서 선언하는 메서드
  def get_total(self):
    return self.korean + self.english + self.math

  def get_mean(self):
    return self.get_total() / 3

In [ ]:
student1 = Student('홍길동', 100, 80, 95)  # 생성자 호출, 객체 생성, 인스턴스 생성
print(student1)
print('이름: ', student1.name)
print('국어 점수: ', student1.korean)
print('영어 점수: ', student1.english)
print('수학 점수: ', student1.math)
print('총점: ', student1.get_total())
print('평균: ', student1.get_mean())

<__main__.Student object at 0x79a467d0d4d0>
이름:  홍길동
국어 점수:  100
영어 점수:  80
수학 점수:  95
총점:  275
평균:  91.66666666666667

In [ ]:
student2 = Student('오쌤', 50, 45, 33)
print(student2)
print('이름: ', student2.name)
print('국어 점수: ', student2.korean)    # -> 속성
print('영어 점수: ', student2.english)   # -> 속성
print('수학 점수: ', student2.math)      # -> 속성
print('총점: ', student2.get_total())    # -> 기능
print('평균: ', student2.get_mean())     # -> 기능

<__main__.Student object at 0x79a467d0e0d0>
이름:  오쌤
국어 점수:  50
영어 점수:  45
수학 점수:  33
총점:  128
평균:  42.666666666666664

# 클래스 선언

## Ex 1

In [ ]:
class Circle:
  def __init__(self, radius):
    self.radius = radius

  def area(self):
    return self.(radius ** 2) * 3.14

  def perimeter(self):
    return 3.14 * (self.radius * 2)

In [ ]:
circle1 = Circle(1)
print('반지름:', circle1.radius, end = '\t')
print('넓이:', circle1.area(), end = '\t')
print('둘레:', circle1.perimeter())

circle2 = Circle(10)
print('반지름:', circle2.radius, end = '\t')
print('넓이:', circle2.area(), end = '\t')
print('둘레:', circle2.perimeter())

반지름: 1	넓이: 3.14	둘레: 6.28
반지름: 10	넓이: 314.0	둘레: 62.800000000000004

## Ex 2

In [ ]:
# 직사각형의 가로, 세로 길이를 받아 넓이/둘레 구하기.

class Rectangle:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def area(self):
    return self.x * self.y

  def perimeter(self):
    return (self.x + self.y) * 2

In [ ]:
wlr = Rectangle(3, 4)
print('가로 길이:', wlr.x)
print('세로 길이:', wlr.y)
print('넓이:', wlr.area())
print('둘레:', wlr.perimeter())

가로 길이: 3
세로 길이: 4
넓이: 12
둘레: 14

In [ ]:
rect2 = Rectangle(8, 6)
print('가로 길이:', rect2.x)
print('세로 길이:', rect2.y)
print('넓이:', rect2.area())
print('둘레:', rect2.perimeter())

가로 길이: 8
세로 길이: 6
넓이: 48
둘레: 28

## Ex 3

In [ ]:
import math

In [ ]:
class Point:
  """2차원 평면에서 점의 좌표를 표현하는 클래스"""

  # __init__(): 생성자 함수를 호출하면 자동으로 호출되는 메서드
  def __init__(self, x=0, y=0):
    self.x = x
    self.y = y

  # __str__(): print() 함수가 객체를 출력하기 위해서 호출하는 메서드
  # __str__() 함수를 선언하지 않으면 print() 함수는 'Point object 0x1231123'형식으로 객체를 출력
  # __str__() 함수를 선언하면, print() 함수는 __str__() 함수가 리턴하는 문자열을 출력
  def __str__(self):
    return f'Point(x={self.x}, y={self.y})'

  def move(self, dx = 0, dy = 0):
    """점의 위치를 원래 위치에서 x축 방향으로 dx만큼, y축 방향으로 dy만큼 이동"""
    self.x += dx
    self.y += dy
    return(self.x, self.y)

  def distance(self, other):
    """현재 점의 위치와 다른 점 사이의 거리를 리턴"""
    # return ((self.x - other.x) ** 2 + (self.y - other.y) ** 2) ** 0.5
    return math.sqrt((self.x - other.x) ** 2 + (self.y - other.y) ** 2)

In [ ]:
a = Point(6, 7)
print('x 좌표:', a.x, 'y 좌표:', a.y)
print('이동한 좌표:', a.move(4, 6))
print('다른 점과의 거리:', a.distance(Point(7, 2)))
print('이동한 좌표:', a.move(7))
print('이동한 좌표:',a.move(dy = -3))
print('다른 점과의 거리:', a.distance(Point(6, 7)))

x 좌표: 6 y 좌표: 7
이동한 좌표: (10, 13)
다른 점과의 거리: 11.40175425099138
이동한 좌표: (17, 13)
이동한 좌표: (17, 10)
다른 점과의 거리: 11.40175425099138

In [ ]:
pt1 = Point()    # 생성자 함수에 argument를 전달하지 않으면 default argument가 사용됨
print(pt1)
print(f'point({pt1.x}, {pt1.y})')

Point(x=0, y=0)
point(0, 0)

In [ ]:
pt2 = Point(1, 2)
print(pt2)
print(f'point({pt2.x}, {pt2.y})')

Point(x=1, y=2)
point(1, 2)

In [ ]:
pt1.move(1, 1)
print(f'point({pt1.x}, {pt1.y})')

point(1, 1)

In [ ]:
pt2.move(2, 1)
# print(f'point({pt2.x}, {pt2.y})')
print(pt2)

Point(x=5, y=4)

In [ ]:
pt1.distance(pt2)

2.8284271247461903

클래스 안에서 선언한 함수 -> 메서드 ->> 일반적으로 self라는 argument를 가짐