<a href="https://colab.research.google.com/github/Leeonejae6708/python_itwill/blob/main/Python07_itwill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple(튜플)

* 초기화된 값들을 변경 X -> 비어있는 튜플을 생성하면 그 튜플에는 새로운 값 추가 불가
* 인덱스 기반의 데이터 타입 -> 리스트와 마찬가지
  * indexing: 해당 인덱스 위치의 값을 읽음
  * slicing: 해당 인덱스 범위의 아이템들로 이루어진 튜플을 잘라내어 새로 생성 가능 -> 이것은 새로운 튜플을 생성하는 것이기에 가능
* append(), pop() 등과 같은 아이템을 추가하거나 삭제하는 함수(메서드)들은 제공X  
* 튜플은 소괄호() 사용

In [ ]:
num = (1, 2,10, 20)
print(type(num))
print(num)

<class 'tuple'>
(1, 2, 10, 20)

In [ ]:
# tuple명.count(value): 튜플 안에 해당 value가 몇 개 있는지 개수를 return(반환)
print(num.count(2))

# tuple명.index(value): 튜플 안에 해당 value가 가장 처음 위치한 index를 return(반환)
print(num.index(2))

1
1

## indexing

In [ ]:
print(num)
print(num[0])  # 튜플 num의 첫 번째 아이템 -> 인덱스를 표현할 때에는 반드시 대활호[] ->> 어떤 자료형에서도
print(num[-1]) # 튜플 num의 마지막 아이템

(1, 2, 10, 20)
1
20

## slicing

In [ ]:
print(num[:3])    # 튜플 num에서 첫 3개 원소를 잘라냄
print(num[-3:])   # 튜플 num에서 마지막 3개 원소를 잘라냄

(1, 2, 10)
(2, 10, 20)

## decomposition(분해)

In [ ]:
integers = (1, 2, 3)
# x = integers[0]
# y = integers[1]
# z = integers[2]

x, y, z = integers
print(x, y, z)

1 2 3

In [ ]:
names = ['홍길동', '오쌤']
# xx = names[0]
# yy = names[1]

xx, yy = names
print(xx, yy)

홍길동 오쌤

## tuple과 for 반복문

In [ ]:
for x in (1, 10, 2, -20, 100):
  print(x)

1
10
2
-20
100

In [ ]:
mtrx = (
    (1, 2, 3),
    (4, 5, 6)
)
print(mtrx)         # 튜플 mtrx 출력
print(len(mtrx))    # 튜플 mtrx의 길이 출력
print(len(mtrx[0])) # 튜플 mtrx[0]의 길이  출력

((1, 2, 3), (4, 5, 6))
2
3

In [ ]:
print(mtrx[0])
print(mtrx[0][0])

(1, 2, 3)
1

In [ ]:
for i in mtrx:
  for j in i:
    print(j, end='\t')
  print()

1	2	3
4	5	6