<a href="https://colab.research.google.com/github/Leeonejae6708/python_itwill/blob/main/Python15_itwill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# str 클래스의 메서드

In [4]:
s = 'heLLo, pyTHon! 안녕, 파이썬...'

In [6]:
print(type(s))   # __str__()
type(s)          # __repr__()

<class 'str'>

str

In [20]:
result = s.upper()          # uppercase(대문자)로 변환된 문자열을 리턴
print('result =', result)
print('s=', s)              # 원본 문자열 s는 변경되지 않음

result = HELLO, PYTHON! 안녕, 파이썬...
s= heLLo, pyTHon! 안녕, 파이썬...

In [21]:
result2 = s.lower()         # lowercase(소문자)로 변환된 문자열을 리턴
print('result2 =', result2)
print('s = ', s)            # 원본 문자열 s는 변경되지 않음

result2 = hello, python! 안녕, 파이썬...
s =  heLLo, pyTHon! 안녕, 파이썬...

In [23]:
s.capitalize()              # 문장의 첫 글자만 대문자로, 나머지는 소문자로

'Hello, python! 안녕, 파이썬...'

In [29]:
# str.count(seb): 문자열 str안에 sub가 몇번 등장하는지를 리턴
print(s)
print(s.count('L'))
print(s.count('l'))
print(s.count('LL'))

heLLo, pyTHon! 안녕, 파이썬...
2
0
1

In [32]:
# str.find(패턴): 문자열 str에 패턴이 처음 등장하는 index를 리턴, 문자열에 패턴이 없으면 -1을 리턴
print(s)
print(s.find('py'))
print(s.find('Py'))

heLLo, pyTHon! 안녕, 파이썬...
7
-1

In [39]:
email = 'jake@itwill.com'
print(email.find('@'))      # 문자열 email에서 '@'가 나오는 인덱스

print(email.split('@'))     # 문자열을 이메일 아이디와 메일 도메인을 각각 출력

print(email[:4])
print(email[5:])

a, b = email.split('@')
print(a)
print(b)

4
['jake', 'itwill.com']
jake
itwill.com
jake
itwill.com

In [43]:
idx = email.find('@')
print(idx)

print(email[:idx])
print(email[idx+1:])

4
jake
itwill.com

In [51]:
msg = '파이썬 참 쉽죠? 파이썬 열심히 공부합시다.'
result = msg.split()     # 공백(sapce, tab, enter)으로 구분한(자른) 문자열들의 리스트를 리턴
print(result)

['파이썬', '참', '쉽죠?', '파이썬', '열심히', '공부합시다.']

In [64]:
date_str = '2025-04-29'
result = date_str.split('-')
print(result)

['2025', '04', '29']

In [66]:
csv_str = '1,홍길동,100,90,80'  # csv(comma-seperated values)
csv_str.split(',')

['1', '홍길동', '100', '90', '80']

In [71]:
email = 'gildong.hong@naver.com'
result = email.split('@')
print(result)
print(result[0])
print(result[1])

['gildong.hong', 'naver.com']
gildong.hong
naver.com

In [72]:
# str.join(iterable): iterable의 아이템들을 str으로 연결한 문자열을 리턴  -> split()과 반대
'/'.join(['2025', '04', '29'])

'2025/04/29'

In [74]:
', '.join(['홍길동', '오쌤', 'Scott'])

'홍길동, 오쌤, Scott'

In [80]:
msg = 'hello,python,안녕하세요,파이썬,12345'
msg.replace(',', '::')   # str.replace(old, new): str에 등장하는 old를 new로 대체한 문자열을 리턴

'hello::python::안녕하세요::파이썬::12345'

In [82]:
msg.replace(',', '-', 2)   # str.replace(old, new, count): str에 등장하는 old를 new로 count번 대체한 문자열을 리턴

'hello-python-안녕하세요,파이썬,12345'

In [87]:
msg = '안녕? 안녕하세요! Hello, Python.'
# str.replace(old, new)는 문자열로 반환되니 다시 replace() 함수를 사용 가능
msg.replace('?', '').replace('!', '').replace(',', '').replace('.', '').split()  # -> 메서드 연쇄 호출

['안녕', '안녕하세요', 'Hello', 'Python']

In [94]:
sentence = '                   Hello, Python!                        안녕하세요......             '
print(sentence)
print(sentence.lstrip())   # lstrip(): left strip
print(sentence.rstrip())   # rstrip(): right strip
print(sentence.strip())    # strip(): 양쪽 strip

                   Hello, Python!                        안녕하세요......
Hello, Python!                        안녕하세요......
                   Hello, Python!                        안녕하세요......
Hello, Python!                        안녕하세요......