<a href="https://colab.research.google.com/github/Leeonejae6708/python_itwill/blob/main/Python04_itwill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# while 반복문

## 문법
```
[초기화 문장]
while 조건식:
  조건식이 True인 동안 반복하여 실행할 코드 블록
  [조건식의 결과를 바꿀 수 있는 문장 - 탈출 문장]   ##[ ]는 필수 x
```
* 'while 조건식' 다음에는 반드시 콜론(:)을 써야 함.
* 조건식의 결과가 True인 동안 블록 내부를 실행.
* 조건식의 결과가 False가 되면 while문 탈출  -> 반복 멈춤

In [ ]:
n = 1             # 초기화 문장
while n <= 5:     # 변수 n이 5 이하인 동안에.................
  print(n)        # n을 반복하여 출력
  n += 1          # 탈출 문장 -> n = n + 1

1
2
3
4
5

In [ ]:
n = 5
while n >= 1:
  print(n)
  n -= 1

5
4
3
2
1

In [ ]:
i = 2
while i <= 10:
  print(i)
  i+=2

2
4
6
8
10

In [ ]:
i=0
while i < 10:     # i의 값이 10 미만인 동안에
  i+=1            # i의 값을 1씩 증가
  if i % 2 ==0:   # 만약 i를 2로 나눈 나머지값이 0인 경우에
    print(i)      # i 출력
  else:           # 나눈 나머지가 0이 아닌 경우
    continue      # skip

2
4
6
8
10

## 구구단 9단 출력
```
9 X 1 = 9
...
9 X 9 = 9
```

In [ ]:
i = 1
while i <= 9:
  print(f'9 X {i} = {9*i}')
  i+=1

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

## 중첩 반복문

In [ ]:
i = 1
j = 1

while i < 10:
  print(f'-----------{i}단-------------')
  while j < 10:
    print(f'{i} X {j} = {i*j}')
    j+=1
  i+=1
  j=1

-----------1단-------------
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
-----------2단-------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
-----------3단-------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
-----------4단-------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
-----------5단-------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
-----------6단-------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
-----------7단-------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
-----------8단-------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
-----------9단-------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

## break, continue
 * `break`: 반복(iteration)을 종료 / break가 포함된 가장 가까운 반복문만 종료  -> 즉시 탈출
 * `continnue`: 다음 반복(iteration)을 수행 -> **continue 아래 쪽의 문장들은 건너뛰고** 다음 반복을 수행.

In [ ]:
n = 1
while n <= 5:
  if n == 3:  # n이 3이 되었을 때 반복문 탈출
    break
  print(n)
  n+=1

1
2
3

In [ ]:
n = 0
while n < 5:
  n+=1
  if n == 3:  # n이 3이 되었을 때 밑의 문장들은 스킵하고 다음 반복으로
    continue
  print(n)

1
2
4
5

In [ ]:
## 문제 1
n = 1
while n <= 5:
  print('*' * n)
  n+=1

*
**
***
****
*****

In [ ]:
## 문제 2
n = 5
while n > 0:
  print('*' * n)
  n-=1

*****
****
***
**
*

In [ ]:
## 문제 3
n = 1
while n <= 5:
  print('*' * n)
  n+=1
  if n==6:
    n=5
    while n > 0:
      n-=1
      print('*' * n)
  elif n == 1:
    break

*
**
***
****
*****
****
***
**
*

In [ ]:
## 문제 3 (다른 방식)

n=1
while n <= 10:
  if n <= 5:
    print('*' * n)
  else:
    print('*' * (10-n))
  n+=1

*
**
***
****
*****
****
***
**
*

In [ ]:
## 문제 4
i = 2
while i < 10:
  print('------------------------')
  j = 1
  while j <= i:
    print(f'{i} X {j} = {i*j}')
    j+=1
  i+=1

------------------------
2 X 1 = 2
2 X 2 = 4
------------------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
------------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
------------------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
------------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
------------------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
------------------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
------------------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81