<a href="https://colab.research.google.com/github/Leeonejae6708/python_itwill/blob/main/Python12_itwill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

**함수(function)는 객체(object)**
* 객체: 숫자(int, float), 문자열(str), 논리값(True/False), list, dict, tuple, set, ...
* 함수는 변수에 할당할 수 있음
* 함수의 argument로 함수를 전달할 수 있음
* 함수의 반환값으로 함수를 사용할 수 있음
* 함수 내부에서 또다른 함수를 선언할 수 있음

In [ ]:
x = 12     # 정수 12를 변수 x에 할당(저장) -> 초기화
print(x)   # 정수를 함수의 argument로 전달

12

In [ ]:
result = len('hello')  # len()함수는 정수를 리턴
print(result)

5

In [ ]:
def double(x):
   return 2 * x

In [ ]:
result = double(5)  # 함수 double을 호출하고 그 반환값을 변수  result에 저장
print(result)

10

In [ ]:
print(double(3))  # 함수 double을 호출하고 그 결과를 출력

6

In [ ]:
print(double)  # double()이라는 이름의 함수 객체를 문자열로 표현하여 출력 -> 함수를 호출한 것이 아님

<function double at 0x7cb3feaed260>

## 함수를 변수에 할당

In [ ]:
twice = double   # double 함수 객체를 twice 변수에 저장 -> 호출한 것 아님
print(twice)
print(twice(10)) # twice()라는 함수 호출은 double() 함수 호출과 동일

<function double at 0x7cb3feaed260>
20

## argument로 함수를 전달받는 함수

In [ ]:
def calculator(x, y, fn):
  result = fn(x, y)

  return result

In [ ]:
def plus(x, y):
  return x + y

In [ ]:
result = calculator(1, 2, plus)
print(result)

3

In [ ]:
def minus(x, y):
  return x - y

result = calculator(1, 2, minus)
print(result)

-1

In [ ]:
def is_bigger(x, y):
  return x > y

result = calculator(1, 2, is_bigger)
print(result)

False

## 내부 함수, 함수를 리턴하는 함수

내부 함수(inner function), 지역 함수(local function):
* 함수 내부에서 선언된 함수
* 선언된 함수 내부에서만 호출 가능
* 선언된 함수 외부세서는 호출 불가
* **외부 함수의 지역 변수들(파라미터 포함)을 사용할 수 있음**

In [ ]:
def make_increamentor(*n):
  # 내부 함수(지역 함수): 함수 안에서 선언된 함수 -> 함수 외부에서는 호출 x
  def add_n(x):
    return x + n

  # 함수 객체를 리턴
  return add_n

In [ ]:
# add_n(10) >> NameError: name 'add_n' is not defined

plus_2 = make_increamentor(2)
print(plus_2)
result = plus_2(10)
print(result)

<function make_increamentor.<locals>.add_n at 0x7cb3e5d794e0>
12

In [ ]:
plus_10 = make_increamentor(10)
result = plus_10(100)
print(result)

110

In [ ]:
result = make_increamentor(100)(123)
print(result)

223

In [ ]:
def cnt_occ(s, sub):
 cnt = 0
 for i in range(len(s) - len(sub) + 1):
  if s[i:i + len(sub)] == sub:
    cnt += 1
 return cnt

a = 'abdcabcaabca' # 길이 12
p1 = "ab"
p2 = "ca"
out = f"ab{cnt_occ(a, p1)} ca{cnt_occ(a, p2)}"
print(out)

ab3 ca3

# 람다 표현식(Lambda Expression)

* 문법
```
lambda param1, param2, ...: expression(식)
```
* 이름이 없는 함수
* 함수 이름 선언 없이, 함수 파라미터 선언과 반환값 또는 반환식으로 함수를 정의하는 것
* 람다 표현식은 변수에 할당할 수 있고, **함수의 argument로 전달할 수 있음**

In [ ]:
# 함수 선언
# def plus_one(x):
#   return x + 1

# 람다 표현식
plus_one = lambda x: x + 1
print(plus_one)
print(plus_one(1))

<function <lambda> at 0x7cb3e5df4ea0>
2

In [ ]:
# def add(x, y):
#   return x + y

add = lambda x, y: x + y
print(add(100, 200))

300

함수 'calculator()'의 argument로 람다 표현식을 전달

In [ ]:
result = calculator(1, 2, lambda x, y: x + y)
print(result)

3

In [ ]:
result = calculator(1, 2, lambda x, y: x - y)
print(result)

-1

In [ ]:
result = calculator(4, 2, lambda x, y: x * y)
print(result)

8

In [ ]:
result = calculator(4, 2, lambda x, y: x / y)
print(result)

2.0

## lambda를 argument로 전달하는 예

* filter: 조건에 만족하는 원소들로 이루어진 리스트를 반환
* map: 원소들을 일정한 규칙에 따라서 다른 값으로 변환(매핑)

In [ ]:
import random

In [ ]:
numbers = [random.randrange(10) for _ in range(10)]
print(numbers)

[1, 3, 0, 9, 7, 5, 3, 1, 1, 6]

In [ ]:
# fliter(function, iterable): iterable의 원소를 function에 argument로 전달했을 때 True를 리턴하는 값들로 이루어진 filter 객체를 리턴
evens = filter(lambda x: x % 2 == 0, numbers)
result = list(evens)  # 필터링된 객체를 리스트 타입으로 변환
print(result)

[0, 6]

리스트 numbers 원소들의 제곱으로 이루어진 리스트

In [ ]:
# map(function, iterable): iterable의 원소들을 function의 argument로 전달해서 function이 리턴해주는 값들로 이루어진 map() 객체를 리턴
squares = map(lambda x: x ** 2, numbers)
print(squares)
result2 = list(squares) # 매핑된 객체를 리스트 타입으로 변환
print(result2)

<map object at 0x7cb3cbb9add0>
[1, 9, 0, 81, 49, 25, 9, 1, 1, 36]

연습문제1.
* [-10, 10] 범위의 난수 10개를 원소로 하는 리스트를 만듦
* 위의 리스트에서 음수들만 필터링한 리스트를 만들고 출력
* 홀수들만 필터링한 리스트를 만들고 출력

연습문제2.
* [0, 100) 범위의 난수 10개를 원소로 하는 리스트를 만듦
* 위의 리스트의 원소가 짝수이면 'even', 홀수이면 'odd'로 매핑한 리스트를 만들고 출력
* 리스트의 원소가 0 ~ 19이면 'teen', 20 ~ 59이면 'adult', 60 이상이면 'senior'로 매핑한 리스트를 만들고 출력

In [ ]:
numbers = [random.randrange(-10, 11) for _ in range(10)]
print(numbers)

dmatn = filter(lambda x: x < 0, numbers)
result = list(dmatn)
print(result)

odds = filter(lambda x: x % 2 == 1, numbers)
result_2 = list(odds)
print(result_2)

[-9, -6, 10, 5, -1, -8, 8, 8, 9, 9]
[-9, -6, -1, -8]
[-9, 5, -1, 9, 9]

In [ ]:
numbers = [random.randrange(100) for _ in range(10)]
print(numbers)

dmatnskstn = map(lambda x: 'even' if x % 2 == 0 else 'odd', numbers)
print(list(dmatnskstn))

age = map(lambda x: 'teen' if x < 20 else('adult' if x < 60 else 'senior'), numbers)
print(list(age))

[74, 96, 28, 81, 22, 3, 13, 96, 89, 43]
['even', 'even', 'even', 'odd', 'even', 'odd', 'odd', 'even', 'odd', 'odd']
['senior', 'senior', 'adult', 'senior', 'adult', 'teen', 'teen', 'senior', 'senior', 'adult']

## filter 구현

In [ ]:
def my_filter(iterable, function):
  """
  iterable의 원소들 중에서 함수 function의 결과가 True가 되는 원소들로 이루어진 리스트를 리턴
  @param iterable: list or tuple
  @param function: argument가 1개이고, True/False를 리턴하는 함수
  @return: list
  """

  # result = []            -> 조건에 맞는 원소들을 저장하기 위한 비어있는 리스트
  # for x in iterable:     -> iterable의 모든 원소들을 순서대로 반복하면서
  #   if function(x):      -> 함수 호출 결과가 True이면(조건을 만족하면)
  #     result.append(x)   -> result 리스트에 그 원소를 추가
  # return result          -> 최종 result를 리턴

  result = [x for x in iterable if function(x)]
  return result

In [ ]:
numberss = [random.randrange(10) for i in range(10)]
print(numberss)
evens = my_filter(numbers, lambda x: x % 2 == 0)
print(evens)

[3, 9, 4, 9, 5, 2, 8, 7, 4, 2]
[74, 96, 28, 22, 96]

In [ ]:
languages = ['python', 'sql', 'java', 'javascript', 'html']

# languages의 문자열들 중 길이가 5이상인 문자열들로 이루어진 리스트를 my_filter를 사용해 만들자
result = my_filter(languages, lambda x: len(x) >= 5)
print(result)

['python', 'javascript']

## map 구현

In [ ]:
def my_mapper(iterable, fn):
  """
  iterable의 원소를 함수 fn의 argument로 전달했을 때 그 리턴값을 리스트에 추가해서 리턴
  @param iterable: list or tuple
  @param function: argument가 1개이고, 1개의 값을 리턴하는 함수
  @return: list
  """
  # result = []             -> 매핑된 값들을 저장할 비어있는 리스트
  # for i in iterable:      -> iterable의 모든 원소들을 순서대로 반복하면서
  #   result.append(fn(x))  -> 함수 fn()의 리턴값을 리스트에 추가
  # return result           -> 최종 result를 리턴


  result = [fn(x) for x in iterable ]
  return result

In [ ]:
ll = [1, 2, 3]
rr = my_mapper(ll, lambda x: x ** 2)
print(rr)

[1, 4, 9]

In [ ]:
ran_num = [random.randrange(100) for _ in range(10)]  #[0, 100) 범위의 난수 10개를 저장하는 리스트
print(ran_num)

# 짝수 -> 'even' / 홀수 -> 'odd' 매핑
result = my_mapper(ran_num, lambda x: 'even' if x % 2 == 0 else 'odd')
print(result)

[54, 11, 9, 28, 98, 56, 51, 75, 50, 81]
['even', 'odd', 'odd', 'even', 'even', 'even', 'odd', 'odd', 'even', 'odd']

In [ ]:
languages = ['python', 'sql', 'java', 'javascript', 'html']

# languages 원소 -> 글자수로 매핑

result = my_mapper(languages, lambda x: len(x))
print(result)

rere = my_mapper(languages, lambda x: 'up' if len(x) > 4 else ('middle' if len(x) > 3 else 'low'))
print(rere)

[6, 3, 4, 10, 4]
['up', 'low', 'middle', 'up', 'middle']