<a href="https://colab.research.google.com/github/Leeonejae6708/python_itwill/blob/main/Python02_itwill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬의 자료형(Python data type)

* 숫자 타입
  * 정수형: int
  * 실수형: float
* 문자열 타입: str
* 논리 타입: bool

In [ ]:
n = 123        # 변수 n에 정수 123을 저장
print(n)       # 변수 n을 출력
print(type(n)) # 변수 n의 타입 출력

123
<class 'int'>

In [ ]:
pi = 3.141592   # 변수 pi에 실수 3.141592를 저장
print(pi)       # 변수 pi를 출력
print(type(pi)) # 변수 pi의 타입 출력

3.141592
<class 'float'>

In [ ]:
s='안녕하세요'   # 변수 s에 문자열 '안녕하세요' 저장
print(s)         # 변수 s를 출력
print(type(s))   # 변수 s의 타입 출력

안녕하세요
<class 'str'>

논리 타입: 참(`True`) 또는 거짓(`False`)을 저장하는 타입.

In [ ]:
b1 = True   # True -> 예약어
b2 = False  # False -> 예약어
print(b1)
print(type(b1))
print(b2)
print(type(b2))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
b1 = 10 > 5
print(b1)

True

## 명시적 타입 변환

* `int(arg)`: argument로 전달된 값을 정수로 변환해주는 함수
 * 문자열 -> 정수
 * 실수 -> 정수  
*`float(arg)`: argument로 전달된 값을 실수로 변환해주는 함수
 * 문자열 -> 실수
 * 정수 -> 실수
*`str(arg)`: argument로 전달된 값을 문자열로 변환해주는 함수
 * 정수, 실수 등등 -> 문자열

In [ ]:
num_str = '123'
print(type(num_str)) # str형
num = int(num_str)   # 문자열을 정수로 변환해서 num에 할당
print(type(num))     # int형
print(num, num_str)

<class 'str'>
<class 'int'>
123 123

In [ ]:
pi_int = int(pi)
print(pi_int)
print(pi)
print(type(pi_int))

3
3.141592
<class 'int'>

# 연산자(Operator)

## 할당연산자(assignment operator)
* `=`: 오른쪽의 값을 왼쪽 변수에 할당하는 용도

## 산술 연산자(arithmetic operator)
- 일반적으로 숫자타입(int, float)의 값에서 사용 가능.

 -> 일부 산술 연산자는 문자열과 같은 타입에서도 사용 가능.
* `+`: 더하기
* `-`: 빼기
* `*`: 곱하기
* `**`: 거듭제곱
* `/`: 나누기(실수형태로 출력)
* `//`: 나누기(정수형태로 출력 - 몫만출력)
* `%`: 모듈러연산(나누고 나머지값 출력)

In [ ]:
x, y = 10, 3
print(f'{x} + {y} = {x+y}')
print(f'{x} - {y} = {x-y}')
print(f'{x} x {y} = {x*y}')
print(f'{x}의 {y}제곱 = {x**y}')
print(f'{x} / {y} = {x/y}')
print(f'{x}을 {y}로 나눈 몫 = {x//y}')
print(f'{x}을 {y}로 나눈 나머지값 = {x%y}')

10 + 3 = 13
10 - 3 = 7
10 x 3 = 30
10의 3제곱 = 1000
10 / 3 = 3.3333333333333335
10을 3로 나눈 몫 = 3
10을 3로 나눈 나머지값 = 1

문자열에서 사용할 수 있는 산술연산자
* `+`: 두 문자열을 붙여서 출력(concat)
* `*`: 문자열은 n번 연속해서 출력(replicate)

In [ ]:
'Hello' + 'Python' # 문자열 + 문자열

'HelloPython'

In [ ]:
'Hello'*5 # 문자열 * 정수

'HelloHelloHelloHelloHello'

In [ ]:
'hello' + str(1123123)  # 'hello' + '1'도 같은 결과를 출력

'hello1123123'

## 비교 연산자 , 논리 연산자
* 비교 연산자
 * `==`: 왼쪽, 오른쪽 값이 같다.
 * '!=': 왼쪽, 오른쪽 값이 같지 않다.
 *`<`: 왼쪽값이 오른쪽 값보다 작다.
 * `<=`: 왼쪽값이 오른쪽 값보다 작거나 같다.
 *`>`: 왼쪽값이 오른쪽 값보다 크다.
 * `>=`: 왼쪽값이 오른쪽 값보다 크거나 같다.
* 논리 연산자
 * `and`: 왼쪽, 오른쪽 모두 True
 * `or`: 왼쪽, 오른쪽 둘 중 하나 이상 True
 * `not`: True를 False, False를 True로

In [ ]:
x, y = 100, 200
print(x==y)
print(x!=y)
print(x<y)
print(x<=y)
print(x>y)
print(x>=y)

False
True
True
True
False
False

In [ ]:
print((x > 50) and (x < 150))  # 둘 다 참이니 True 반환
print((x > 100) and (x < 150)) # 둘 중 하나만 참이니 False 반환
print((x > 100) or (x < 150))  # 둘 중 하나 이상 참이니 True 반환
print(not(x > 100))            # x>100은 거짓이니 not연산에 의해 True 반환

True
False
True
True

## 복합 할당 연산자
 * 종류: `+=`, `-=`, `*=`, `/=`, `**=`, `//=`, `%=`
 * 산술 연산자와 할당 연산자를 합쳐서 만들어진 연산자

In [ ]:
x = 10
print(x)
x += 1    # x = x + 1 -> (1): x +1 계산 (2): (1)의 결과를 변수 x에 할당
print(x)
x -= 1    # x = x - 1
print(x)
x *= 2    # x = x * 2
print(x)
x //= 2   # x = x // 2
print(x)
x **= 2   # x = x ** 2
print(x)
x /= 2    # x = x / 2
print(x)
x %= 2    # x = x % 2 (실수형이 나오는 이유는 실수형 % 정수형을 하였기 때문에 실수형으로 출력)
print(x)
print(int(x))

10
11
10
20
10
100
50.0
0.0
0

# 콘솔 입력

In [ ]:
name = input('이름을 입력하세요>>>: ')
print(type(name))
print(f'안녕하세요, {name}!')

이름을 입력하세요>>>: 이원재
<class 'str'>
안녕하세요, 이원재!

연습문제:
 * 섭씨온도를 입력받아서 화씨온도로 변환하여 출력하는 코드를 작성하시오.
 * 계산식: `화씨 = 섭씨 * 1.8 +32`

In [ ]:
from ctypes import sizeof
a=input('섭씨 온도를 입력하세요>>> : ')
b=float(a) * 1.8 + 32
print(f'화씨 온도는 {b}도 입니다.')

섭씨 온도를 입력하세요>>> : 22
화씨 온도는 71.6도 입니다.