<a href="https://colab.research.google.com/github/Leeonejae6708/python_itwill/blob/main/Python08_itwill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
import math

In [ ]:
## Ex 1.

fruit = ["apple", "banana", "cherry", "durian", "watermellon"]
fruit_len = [len(x) for x in fruit]
print(fruit_len)

[5, 6, 6, 6, 11]

In [ ]:
## Ex 1. (다른 방식)

fruit = ["apple", "banana", "cherry", "durian", "watermellon"]
length = []
for x in fruit:
  length.append(len(x))
print(length)

[5, 6, 6, 6, 11]

In [ ]:
## Ex 2.

gender_code = [random.randrange(1, 5) for _ in range(10)]
print(gender_code)

gender = ["Male" if j % 2 ==1 else "Female" for j in gender_code]
print(gender)

[2, 1, 2, 2, 1, 1, 4, 1, 2, 3]
['Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male']

In [ ]:
## Ex 2. (다른 방식)

gender_code = []
for i in range(0, 10):
  gender_code.append(random.randrange(1, 5))
print(gender_code)

gender = []
for j in gender_code:
  if j % 2 ==1:
    gender.append("Male")
  elif j % 2 ==0:
    gender.append("Female")
print(gender)

[3, 2, 1, 1, 3, 2, 1, 1, 2, 2]
['Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female']

In [ ]:
## Ex 3.

m1 = [
    [1, 2, 3],
    [4, 5, 6]
]
m2 = [
    [1, 1, 1],
    [2, 2, 2]
]

add = [m1[i][j] + m2[i][j] for i in range(len(m1)) for j in range(len(m1[0]))]
print(add)

[2, 3, 4, 6, 7, 8]

In [ ]:
## Ex 3. (다른 방식)

m1 = [
    [1, 2, 3],
    [4, 5, 6]
]
m2 = [
    [1, 1, 1],
    [2, 2, 2]
]
add = []

for i in range(len(m1)):
  for j in range(len(m1[0])):
    add.append(m1[i][j] + m2[i][j])
print(add)

[2, 3, 4, 6, 7, 8]

In [ ]:
## Ex 3. (다른 방식)
m1 = [
    [1, 2, 3],
    [4, 5, 6]
]
m2 = [
    [1, 1, 1],
    [2, 2, 2]
]
add = []

for i, j in zip(m1, m2):
  plus = []
  for x, y in zip(i, j):
    plus.append(x + y)
  add.append(plus)
print(add)

[[2, 3, 4], [6, 7, 8]]

In [ ]:
## Ex 3. (다른 방식)

result = []
for i, j in zip(m1, m2):
  plus = [x + y for x, y in zip(i, j)]
  result.append(plus)
print(result)

[[2, 3, 4], [6, 7, 8]]

In [ ]:
## Ex 3. (다른 방식)

resultt = [[x + y for x, y in zip(i, j)]
           for i, j in zip(m1, m2)]
print(resultt)

[[2, 3, 4], [6, 7, 8]]

In [ ]:
num_of_tems = 5

In [ ]:
## Ex 4. - 1이상 10 이하의 정수 5개를 저장하는 리스트 scores를 만들고 출력하세요

scores = [random.randrange(1, 11) for _ in range(5)]
print(scores)

[4, 1, 10, 9, 5]

In [ ]:
## Ex 5. - 문제 4에서 만든 리스트 scores의 원소들의 합계를 계산하고 출력하세요

sum = 0
for i in scores:
  sum += i
print(sum)

# total = sum(scores)
# print(total)

29

In [ ]:
## Ex 6. - 문제 4에서 만든 리스트 scores의 원소들의 평균을 계산하고 출력하세요.

avg = sum / len(scores)
print(avg)

5.8

In [ ]:
## Ex 7. 문제 4에서 만든 리스트 scores의 원소들의 분산을 계산하고 출력하세요.

sum2 = 0
for i in range(len(scores)):
  sum2 += (scores[i]-avg)**2
  var = (1/(len(scores)-1)) * sum2

print(var)

13.7

In [ ]:
## Ex 8. 문제 4에서 만든 리스트 scores의 원소들의 표준편차를 계산하고 출력하세요.

std_dev = var ** 0.5
print(std_dev)

std = math.sqrt(var)
print(std)

3.7013511046643495
3.7013511046643495

In [ ]:
## Ex 9. 문제 4에서 만든 리스트 scores에서 최댓값을 찾고 출력하세요.

for i in range(len(scores)):
  for j in range(len(scores)):
    if scores[i] < scores[j]:
      temp = scores[i]
      scores[i] = scores[j]
      scores[j] = temp
print(scores)
print(scores[-1])

print(max(scores))

[1, 4, 5, 9, 10]
10
10

In [ ]:
## Ex 9. (다른 방식)

max_scores = scores[0]           # 리스트의 첫번째 값을 최댓값이라고 가정
for i in range(len(scores)):     # 리스트의 모든 원소들을 처음부터 끝까지 순서대로 반복하면서
  if max_scores < scores[i]:     # 리스트의 원소가 최댓값으로 가정한 값보다 크다면
    max_scores = scores[i]       # 리스트에서 찾은 값을 최댓값에 저장.
print(max_scores)                # 최댓값 출력

10

In [ ]:
## Ex 10. 문제 4에서 만든 리스트 scores에서 최솟값을 찾고 출력하세요.

for i in range(len(scores)):
  for j in range(len(scores)):
    if scores[i] < scores[j]:
      temp = scores[i]
      scores[i] = scores[j]
      scores[j] = temp
print(scores)
print(scores[0])

print(min(scores))

[1, 4, 5, 9, 10]
1
1

In [ ]:
## Ex 10. (다른 방식)

min_scores = scores[0]        # 리스트의 첫번째 값을 최솟값이라고 가정
for i in range(len(scores)):  # 리스트의 모든 원소들을 처음부터 끝까지 순서대로 반복하면서
  if min_scores > scores[i]:  # 리스트의 원소가 최솟값으로 가정한 값보다 작다면
    min_scores = scores[i]    # 리스트에서 찾은 값을 최솟값에 저장
print(min_scores)             # 최솟값 출력

1