<a href="https://colab.research.google.com/github/Leeonejae6708/python_itwill/blob/main/Python06_itwill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트(List)
* `list`: 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입
* element(원소, 요소): 리스트에 저장된 각각의 값
* index(인덱스): 리스트에서 각각의 원소들이 저장된 위치(번호)   
 * 리스트의 인덱스는 **0** 부터 시작
 * 리스트의 마지막 인덱스는 **(원소개수-1)**
 * 리스트는 원소들을 변경 가능(추가, 삭제) -> `tuple`과 다름
 * 순서 O
 * 중복 허용
 * 대괄호 [ ]로 표현

In [ ]:
# 숫자를 저장하는 list
numbers = [1, 2, 3, 4, 5, 6, -5, -4]
num = []                      # 값 할당해주지 않으면 비어있는 리스트 생성
print(type(numbers))
print(numbers)
print(num)

<class 'list'>
[1, 2, 3, 4, 5, 6, -5, -4]
[]

In [ ]:
# 여러가지 타입의 원소들을 저장하는 list
values = [1, 2, 3, 'a', 'b', 'c', True, False]
print(values)
for i in values:
    print(i, type(i))                        # 각 리스트 원소들의 타입 출력
    if type(i) == str:                       # 각 리스트 원소들의 타입이 str이면 원소 출력
        print(i)

[1, 2, 3, 'a', 'b', 'c', True, False]
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
a <class 'str'>
a
b <class 'str'>
b
c <class 'str'>
c
True <class 'bool'>
False <class 'bool'>

## Indexing

인덱스를 사용해서 리스트의 원소를 사용하는 방법

In [ ]:
numbers[0] # 리스트 numbers의 첫번째 원소

1

In [ ]:
numbers[7] # 리스트 numbers의 마지막 원소

-4

In [ ]:
numbers[3] # 리스트 numbers에서 인덱스가 3인 원소 - > 4번째 원소

4

In [ ]:
numbers[-1]  # 리스트 numbers의 마지막 원소

-4

In [ ]:
numbers[-2]  # 리스트 numbers의 끝에서 두번째 원소

-5

Slicing

`List명[start:end]`
* list에서 index가 strat <= index < end 범위의 원소들을 잘라내는 방법
* 시작 인덱스(start)를 생략하면 시작 인덱스는 0번 -> [0]이 default값
* 마지막 인덱스(end)를 생략하면 리스트의 마지막 원소까지 잘라냄
* slicing의 결과는 **새로운 리스트**를 생성 -> slicing된 새로운 리스트가 생성되는 것

In [ ]:
numbers

[1, 2, 3, 4, 5, 6, -5, -4]

In [ ]:
numbers[1:4] # 두번째 요소[1] ~ 4번째 요소[3]까지 잘라냄

[2, 3, 4]

In [ ]:
numbers[:3] # 첫번째 요소[0] ~ 3번째 요소[2]까지 잘라냄

[1, 2, 3]

In [ ]:
numbers[3:] # 네번째 요소[3] ~ 끝까지 잘라냄

[4, 5, 6, -5, -4]

In [ ]:
numbers[:] # 첫번째 요소[0] ~ 끝까지 잘라냄 -> 리스트 전체 출력

[1, 2, 3, 4, 5, 6, -5, -4]

In [ ]:
# 리스트 numbers에서 마지막 2개 원소만 선택(slicing)
if numbers[-2:] == numbers[6:]:
  print(2)
else:
  print(1231)

2

In [ ]:
print(numbers[0])     # indexing: 리스트에서 해당 인덱스의 원소(값)을 가져옴
print(numbers[0:1])   # slicing: 리스트에서 일부분을 잘라 새로운 리스트형식으로 가져옴
numbers[0] == numbers[0:1]  # 둘은 다르기 때문에 False출력

1
[1]

False

## 문자열(Srting): 문자들의 리스트

* 문자열도 인덱스를 사용 가능
 * indexing: 해당 인덱스의 문자 1개를 선택
 * slicing:  문자열의 일부를 잘라냄
* 문자열 리스트의 맨 마지막 요소는 \n(null)

In [ ]:
message = '안녕, Python'     # 문자 11개를 갖는 문자열 -> 11개의 문자들을 원소로 갖는 리스트
print(message)
for i in message:
  print(i)

안녕, Python
안
녕
,

P
y
t
h
o
n

In [ ]:
message[0]     # 문자열 message에서 첫번째[0] 문자를 선택

'안'

In [ ]:
message[-1]     # 문자열 message에서 마지막[10] 문자를 선택

'n'

In [ ]:
message[:2]     # 문자열 message에서 처음 두 문자를 slicing

'안녕'

In [ ]:
message[-3:]     # 문자열 message에서 마지막 세 문자를 slicing

'hon'

## llist의 산술연산

In [ ]:
# 문자열의 +
'hello' + '안녕'

'hello안녕'

In [ ]:
# list의 +
[1, 2, 3] + [100, 200, 300]

[1, 2, 3, 100, 200, 300]

In [ ]:
# 문자열의 *
'안녕 ' * 5

'안녕 안녕 안녕 안녕 안녕 '

In [ ]:
# list의 *
[1, 2, 3] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

# list의 기능들 - 함수(메서드)

## 원소 추가

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [ ]:
# list명.append(값): 리스트의 끝에 값을 추가
numbers.append(6)
numbers

[1, 2, 3, 4, 5, 6]

In [ ]:
# list명.insert(인덱스, 값): 리스트의 특정 인덱스 위치에 값을 추가
numbers.insert(3, 4)
numbers

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# list명.extend(리스트): 리스트의 끝에 리스트를 추가 -> + 연산자와 유사 (list명 + list명)
numbers.extend([6, 7, 8])
numbers

[1, 2, 3, 4, 4, 5, 6, 7, 8]

In [ ]:
# list명.append([값, 값, ...]): 리스트의 끝에 추가할 리스트가 원소형태로 추가 -> extend()와는 다름!
numbers.append([111, 222])
numbers

[1, 2, 3, 4, 4, 5, 6, 7, 8, [111, 222]]

## 원소 삭제

In [ ]:
number = [1, 2, 3, 10, 20, 30, 1, 2, 3]
number

[1, 2, 3, 10, 20, 30, 1, 2, 3]

In [ ]:
# list명.pop(): list의 가장 마지막 원소 삭제
##              -> default값이 -1이기 때문에 인덱스 값을 소괄호 안에 넣지 않으면 맨 마지막 요소를 삭제
number.pop()
number

[1, 3, 10, 20, 30, 1]

In [ ]:
# list명.pop(인덱스): list의 특정 인덱스의 원소 삭제
number.pop(1)
number

[1, 3, 10, 20, 30, 1, 2]

In [ ]:
# list명.remove(value): list에서 처음 만나는 특정 값을 삭제
number.remove(1)
number

[3, 10, 20, 30, 1]

In [ ]:
# list명.clear(): list의 모든 원소 삭제
number.clear()
number

[]

## 특정 인덱스의 원소 변경

In [ ]:
names = ['홍길동', 'Scott', 'tiger']
names

['홍길동', 'Scott', 'tiger']

In [ ]:
# list명[index] = value: list의 특정 인덱스의 원소를 value로 재할당
names[2] = '오쌤'
names

['홍길동', 'Scott', '오쌤']

# list와 for 반복문

In [ ]:
for i in names:
  for j in i:
    print(j, end = '\t')
  print()

홍	길	동
S	c	o	t	t
오	쌤

In [ ]:
numbers = [1, 2, 3, 10, 20, 30]
# list의 값들을 순서대로 반복:
for x in numbers:
  print(x)

1
2
3
10
20
30

In [ ]:
# list의 인덱스와 아이템들을 순서대로 반복:
for index, values in enumerate(numbers):
  print(index, ":" ,values)

0 : 1
1 : 2
2 : 3
3 : 10
4 : 20
5 : 30

연습문제:
1. 비어있는 리스트 'numbers' 생성
2. 리스트 numbers에 10 미만의 정수 난수 10개 저장.
3. numbers 출력
4. numbers의 원소들 중에서 짝수들만 찾아서 새로운 리스트 'evens'를 출력
5. numbers의 원소들 중에서 홀수들만 찾아서 새로운 리스트 'odds'를 출력

In [ ]:
## 난수를 직접 리스트에 append하는 방식

import random                                   # random 모듈의 함수를 사용하기 위해서 임포트

numbers = []                                    # 비어있는 리스트 numbers 생성
evens = []                                      # 비어있는 리스트 evens 생성
odds = []                                       # 비어있는 리스트 odds 생성

for i in range(0, 10):
  numbers.append(random.randrange(1, 10))       # 1~9 사이의 정수인 난수를 비어있는 리스트 numbers에 차례대로 대입 -> 10번 반복
print(numbers)                                  # 리스트 numbers 출력


for i in numbers:
  if i % 2 == 0:                                # numbers의 각 원소들을 2로 나눈 나머지가 0이라면 -> 짝수라면
    evens.append(i)                             # 그 원소들을 비어있는 리스트 evens에 대입
  else:                                         # numbers의 각 원소들을 2로 나눈 나머지가 0이 아니라면 -> 홀수라면
    odds.append(i)                              # 그 원소들을 비어있는 리스트 odds에 대입

print(evens)                                    # 리스트 evens 출력
print(odds)                                     # 리스트 odds 출력

[4, 7, 1, 9, 8, 7, 4, 2, 6, 1]
[4, 8, 4, 2, 6]
[7, 1, 9, 7, 1]

In [ ]:
# # 난수를 변수에 저장하여 그 변수를 리스트에 append하는 방식

import random                          # random 모듈의 함수를 사용하기 위해서 임포트

numberss = []                          # 비어있는 리스트 numbers 생성
evens = []                             # 비어있는 리스트 evens 생성
odds = []                              # 비어있는 리스트 odds 생성

# for _ in range(stop): range의 값들을 반복 블록에서 사용하지 않을 때, 변수이름 대신 _를 사용하기도 함.
for _ in range(10):
  ran = random.randrange(1, 10)        # 1~9 사이의 정수인 난수를 변수 ran에 저장
  numberss.append(ran)                 # ran을 비어있는 리스트 numbers에 대입

print('numbers:', numberss)                        # 리스트 numbers 출력


for x in numberss:
  if x % 2 == 0:
    evens.append(x)
  else:
    odds.append(x)

print('evens:',evens)
print('odds:',odds)

numbers: [7, 7, 6, 3, 9, 6, 7, 9, 6, 5]
evens: [6, 6, 6]
odds: [7, 7, 3, 9, 7, 9, 5]

연습문제:
1. integers라는 이름의 빈 라스트를 생성
2. 리스트 integers에 -10 이상 10 이하의 정수 난수 10개를 저장하고 출력
3. is_positive 이름의 빈 리스트를 생성
4. integers의 원소가 양수이면 true / 음수이면 false를 is_positive에 저장하고 출력

In [ ]:
import random

integers = []
is_positive = []

for _ in range(10):
  integers.append(random.randrange(-10, 11))

print(integers)

for i in integers:
  if i > 0:
    is_positive.append('True')
  else:
    is_positive.append('False')

print(is_positive)

[-4, -2, 2, -8, 3, 10, -10, -1, -7, 3]
['False', 'False', 'True', 'False', 'True', 'True', 'False', 'False', 'False', 'True']

## List comprehension

In [ ]:
n = []
for i in range(1, 11):
  n.append(i)
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
n = [x for x in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 연습문제:
 1~10 까지의 정수들의 제곱을 저장하는 리스트를 만들고 출력하세요.

 ```
[1. 4. 9. 16. .... 100]
 ```

In [ ]:
n = []
for i in range(1, 11):
  n.append(i*i)

print(n)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
n = [x**2 for x in range(1, 11)]
n

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
n = [x**x for x in range(1, 11)]
n

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

연습문제:
100 미만의 정수 난수 10개를 저장하는 리스트를 만들고 출력하세요.

In [ ]:
rand_numbers = [random.randrange(0, 100) for _ in range(10)]
rand_numbers

[17, 51, 34, 96, 78, 83, 16, 0, 25, 6]

연습문제:
rand_numbers에서 짝수들만 선택해서 새로운 리스트를 만들고 출력

In [ ]:
rand_numbers = [random.randrange(0, 100) for _ in range(10)]
rand_evens = [x for x in rand_numbers if x % 2 == 0]
print(rand_numbers)
print(rand_evens)

[11, 88, 20, 5, 77, 34, 90, 59, 34, 91]
[88, 20, 34, 90, 34]

연습문제:
rand_numbers에서 홀수들만 선택해서 새로운 리스트를 만들고 출력

In [ ]:
rand_numbers = [random.randrange(0, 100) for _ in range(10)]
rand_odds = [x for x in rand_numbers if x % 2 == 1]
print(rand_numbers)
print(rand_odds)

[92, 16, 1, 0, 2, 39, 12, 51, 73, 34]
[1, 39, 51, 73]

if-else 표현식

```
값 1 if 조건식 else 값 2
```

: 조건식을 만족하면 값 1, 만족하지 않으면 값 2

In [ ]:
x = 1
is_even = True if x % 2 == 0 else False
is_even

False

연습문제:
random.randrange의 값이 짝수이면 True, 홀수이면 False를 저장하는 리스트를 만들고 출력

In [ ]:
is_evens = [True if x % 2 ==0 else False for x in rand_numbers]
is_evens

[False, True, True, False, False, True, True, False, True, False]

# 다차원 리스트

다차원 리스트: 리스트들을 원소로 갖는 리스트

In [ ]:
matrix = [
    [1, 2, 3, 4],
    [4, 5, 6, 7],
    [7, 8, 9, 10]
]

In [ ]:
print(matrix)

[[1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 10]]
1	2	3	4
4	5	6	7
7	8	9	10

In [ ]:
# len(obj): obj가 갖고 있는 아이템들의 개수를 리턴
len(matrix)

3

In [ ]:
matrix[0][0]

1

## 다차원 배열과 for 반복문

In [ ]:
for row in matrix:
  print(row)

[1, 2, 3, 4]
[4, 5, 6, 7]
[7, 8, 9, 10]

In [ ]:
for i in matrix:
  for j in i:
    print(j, end = '\t')
  print()

1	2	3	4
4	5	6	7
7	8	9	10

## `zip()` 함수와 for 반목문

In [ ]:
numbers1 = [1, 2, 3, 4, 5]
numbers2 = [1, 3, 5, 7, 9]

# adds = []
# for i in range(len(numbers1)):
#   adds.append(numbers1[i] + numbers2[i])
#   print(adds)

adds = [numbers1[i]+numbers2[i] for i in range(len(numbers1))]

print(adds)

[2, 5, 8, 11, 14]

In [ ]:
# adds2 = []
# for x, y in zip(numbers1, numbers2):
#   adds2.append(x + y)

adds2 = [x + y for x, y in zip(numbers1, numbers2)]

print(adds2)

[2, 5, 8, 11, 14]